h1{
    color: green;
    font-family: cursive;
    font-size: 60px;
}
h2{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(242, 242, 103);
}

footer{
    color: green;
    font-family: cursive;
    font-size: 20px;
}