{% extends "layout.html" %}

{% block main %}
    <section id="about">
      <div class="row">
        <div class="col-md-6">
          <h1>Welcome to Herbal Net</h1>
          <p>With Herbal Net, we're dedicated to the world of herbal leaves. Our advanced classification model, powered by ResNet-50, achieves an impressive accuracy of nearly 95%. We're here to help you explore and identify different types of herbal leaves with ease. Whether you're a botanist, a herbal enthusiast, or just curious about the natural world, our platform is designed for you.</p>
          <p>Click on the menu above to learn more about us, predict leaf types, or check out our model's performance.</p>
        </div>
        <div class="col-md-6">
          <img src="/static/home1.jpg" alt="Herbal Leaves Image" class="img-fluid">
          <p style="font-family: cursive;">"Food is Medicine; Medicine is Food"</p>
        </div>
      </div>
    </section>
{% endblock %}